In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("C:\\Users\\migro\\Desktop\\Programming\\interactive_dash\\Video_Games.csv")
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df_ordenado = df.sort_values(["Critic_Score"]).head(10)
df_ordenado

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
13690,Ride to Hell,PS3,2013.0,Racing,Deep Silver,0.02,0.01,0.0,0.01,0.04,13.0,4.0,1,218.0,"Eutechnyx, Deep Silver",M
10663,Leisure Suit Larry: Box Office Bust,PS3,2009.0,Adventure,Codemasters,0.06,0.03,0.0,0.01,0.10,17.0,11.0,1.7,37.0,Team 17,M
12823,Ride to Hell,X360,2013.0,Racing,Deep Silver,0.04,0.01,0.0,0.01,0.06,19.0,14.0,1.3,433.0,"Eutechnyx, Deep Silver",M
10016,Rugby 15,PS4,2015.0,Sports,Bigben Interactive,0.04,0.06,0.0,0.02,0.11,19.0,5.0,3.4,65.0,HB Studios Multimedia,E
15345,Balls of Fury,Wii,2007.0,Sports,Zoo Digital Publishing,0.02,0.00,0.0,0.00,0.02,19.0,6.0,2.8,25.0,Black Lantern Studios,E10+
9106,Chicken Shoot,DS,2007.0,Action,Zoo Digital Publishing,0.13,0.00,0.0,0.01,0.14,19.0,4.0,3.1,7.0,FrontLine Studios,E10+
12132,Anubis II,Wii,2007.0,Platform,Metro 3D,0.06,0.00,0.0,0.00,0.07,19.0,5.0,2.7,28.0,Data Design Interactive,E
7219,Nickelodeon Party Blast,XB,2002.0,Misc,Infogrames,0.16,0.05,0.0,0.01,0.22,19.0,4.0,4.3,7.0,Data Design Interactive,E
1050,Deal or No Deal,DS,2007.0,Misc,Mindscape,1.15,0.40,0.0,0.15,1.70,20.0,13.0,1.9,41.0,Artefacts Studio,E
11443,Ninjabread Man,Wii,2007.0,Action,Popcorn Arcade,0.07,0.00,0.0,0.01,0.08,20.0,6.0,1.7,52.0,Data Design Interactive,E

In [57]:
df_ordenado = df_ordenado[["Name", "Critic_Score"]]
df_ordenado = df_ordenado[:-1]
df_ordenado

                                  Name  Critic_Score
1                       Ninjabread Man          20.0
2                      Deal or No Deal          20.0
3              Nickelodeon Party Blast          19.0
4                            Anubis II          19.0
5                        Chicken Shoot          19.0
6                        Balls of Fury          19.0
7                             Rugby 15          19.0
8                         Ride to Hell          19.0
9  Leisure Suit Larry: Box Office Bust          17.0

In [58]:
df_ordenado = df_ordenado.reset_index(drop=True)
df_ordenado = df_ordenado.loc[::-1]
df_ordenado = df_ordenado.reset_index(drop=True)
df_ordenado.index = df_ordenado.index.map(lambda x: x+1)
df_ordenado

                                  Name  Critic_Score
1  Leisure Suit Larry: Box Office Bust          17.0
2                         Ride to Hell          19.0
3                             Rugby 15          19.0
4                        Balls of Fury          19.0
5                        Chicken Shoot          19.0
6                            Anubis II          19.0
7              Nickelodeon Party Blast          19.0
8                      Deal or No Deal          20.0
9                       Ninjabread Man          20.0